<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="login.component.css" />
  </head>
  <body>
    <div>
      <h2>Login</h2>
      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
      /><br /><br />
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
      /><br /><br />
      <button (click)="login()">Login</button>

      <p style="color: red; margin-top: 10px" *ngIf="error">{{ error }}</p>
    </div>
  </body>
</html>
